    /*@charset "UTF-8";
    @import url();
    @font-face {
        font-family;
        src: url()
    }*/
    
    body {
        background: rgb(54, 5, 253);
        font: normal 12pt Arial;
    }
    
    header#cabecalho {
        color: white;
        text-align: center;
    }
    
    input,
    textarea {
        font-family: sans-serif;
        font-weight: normal;
        /*font-size: 13pt;*/
        background-color: rgba(255, 255, 255, .8);
        /*deixa tansprente para imagem dentro da label*/
    }
    
    input:hover,
    textarea:hover {
        background-color: #dddddd;
    }
    
    section {
        background: rgb(248, 250, 247);
        border-radius: 10px;
        padding: 30px;
        width: 700px;
        margin: auto;
        box-shadow: 3px 3px 2px rgb(13, 14, 13)
    }
    
    article#noticia {
        font-size: 12pt;
        color: #606060;
        background-color: #dddddd;
        padding: 0px 0px 0px 0px;
        margin: 0x;
    }
    
    legend {
        color: #888888;
        font-weight: bold;
        font-size: 13pt;
        font-family: sans-serif;
    }
    
    fieldset {
        border-color: #cecece;
        /*margin: 20px;*/
    }
    
    fieldset#senha {
        background: url("../cursohtml5/cadeado.png") no-repeat 95% 35%;
    }
    
    fieldset#metro {
        color: rgb(248, 9, 9);
    }
    
    footer {
        text-align: center;
        font-style: italic;
        color: rgb(248, 244, 244);
    }
    
    footer a {
        color: blanchedalmond;
    }
    
    nav#menu {
        display: block;
    }
    
    nav#menu ul {
        list-style: none;
        text-transform: uppercase;
        /*coloca as letras em MAIUSCULAS*/
        position: absolute;
        top: 0px;
        left: 750px;
    }
    
    nav#menu li {
        display: inline-block;
        background-color: #dddddd;
        padding: 5px;
        margin: 3px;
        transition: background-color 1s;
    }
    
    nav#menu h1 {
        display: none;
    }
    
    nav#menu li:hover {
        background-color: #606060;
        color: #dddddd;
        text-decoration: underline;
    }
    
    nav#menu a {
        color: #000000;
        text-decoration: none;
    }
    
    section#corpo {
        display: block;
        width: 600px;
        float: left;
    }
    /*aside#lateral {*
        display: block;
        width: 750px;
        float: right;
    }*/